.btn {
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn_primary {
  background: transparent;
  color: #484b4b;
  border: 1px solid #b9b7b7;
}

.btn_secondary {
  background: transparent;
  color: #484b4b;
  border: 1px solid #b9b7b7;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
